html,
body {
    font-family: 'Bree Serif', serif;
  background-color: #c1c8e4;
  
}
.text-end{
background-color: #5680e9;
}
.login, .signup{
  color: white;
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;
}

.checkout, .checkout-icon{
float:right;
font-size: large;
position: relative;
color: white;
text-decoration: none;

}
.checkout-icon{
  cursor: pointer;
}
.home, .products{
  color: white;
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;
font-size: large;
text-align: center;

}
#header-2{
  background-color: #bdacde;
  padding: 2em;
}
.image-logo{
  float: left;
  position: relative;
  bottom: 5em;
  cursor: pointer;;
}
#chatterbox{
  position: relative;
  color: white;
text-align: center;
right: 4em;
margin-left: 6em;
}
.home-text{
  text-align: center;
  color: white;

}
.card-group{
  position: absolute;;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}





