html,
body {
    font-family: 'Bree Serif', serif;
  background-color: #c1c8e4;
  
}
.text-end{
background-color: #5680e9;
}
.login, .signup{
  color: white;
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;
}

.checkout, .checkout-icon{
float:right;
font-size: large;
position: relative;
color: white;
text-decoration: none;
right: 2em;
}
.checkout-icon{
  cursor: pointer;
}
.home, .products{
  color: white;
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;
font-size: large;
position: relative;
right: 2em;
}
#header-2{
  background-color: #bdacde;
  padding: 2em;
}
.image-logo{
  float: left;
  position: relative;
  bottom: 5em;
  cursor: pointer;;
}
#chatterbox{
  position: absolute;
  top: 10em;
  left: 28em;
  color: white;
}
p{
  text-align: center;
  color: white;
  font-size: larger;
}
